footer.bottom {
  background: blue;
  color: white;
  padding: 2rem 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
}

footer.bottom a {
    color:  white;
    text-decoration: none;
}

footer.bottom h2 {
  margin-bottom: 0.5rem;
  border-bottom: 2px solid white;
  padding: 0.25rem 0;
}

footer.bottom menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

footer.bottom menu a:hover {
  text-decoration: underline;
}
