.top nav {
    background-color: blue;
    color:  white;
}

.top a {
    color: unset;
    text-decoration: unset;
}

.top a:hover {
    text-decoration: underline;
}

.top .top-bar {
    display: flex;
    justify-content: space-between;
}

.top menu {
    display: flex;
    align-items: center;
    list-style: none;
}
/* possibly not needed*/
.top menu li:not(:last-child) {
  border-right: 5px solid blue;
}

.top .title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    padding: .5rem;
}

.top h1 {
    text-align: center;
    color: blue;
    padding: 1rem;
}

.top .bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
    padding: .5rem;
}

.top form {
    display: flex;
    flex: 1;
}

.top input {
    flex: 1;
    outline: 0;
    border: 0;
    border-bottom: 1px solid blue;
    padding: .25 0.5;
}

.top button {
    background-color: blue;
    color: white;
    padding: .5;
}

.top .ad {
    background-color: red;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 0.5;
    flex-shrink: 0;
    align-content: center;
    padding-left: 4px;
    padding-right: 4px;
}

.top-right .material-symbols-sharp {
    font-variation-settings: "fill" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}


