.sidebar {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    min-width: 25ch;
    padding: .5rem;
    max-width: 200px;
}

.sidebar a {
    background-color: blue;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: .75rem;
}

.sidebar a:hover {
    cursor: pointer;
    background: darkblue;
}