.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-auto-rows: 25rem;
    gap: 0.5rem;
    max-height: fit-content;
}

.product {
    display: flex;
    flex-direction: column;
}

.product h2 {
    background-color: blue;
    color: white;
    padding: 1rem;
}

.product figure {
    flex: 1;
    height: 0%;
}
.product img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product .description {
    flex: 1;
    padding: .5rem;
}

.product footer {
    background-color: blue;
    color:  white;
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product .price {
  display: flex;
  gap: 1ch;
}

.product .price dt {
  font-weight: bold;
}

.product footer button {
  background: var(--fg-dark);
  color: white;
  border: 0;
  border-radius: 100%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product footer button:hover {
  background: rgba(var(--fg-dark), 255);
  cursor: pointer;
}

.product footer .material-symbols-sharp {
  font-size: 1.25rem;
}
